@import "./pictures";

.gallery {
  &__title {
    margin-bottom: 60px;

    font-size: 4rem;
    font-weight: 700;
    color: $c-dark-gray;
  }

  &__pictures {
    margin-bottom: 70px;
  }

  &__dots {
    display: none;
    margin: 0 auto;
    justify-content: space-between;
    width: 102px;
  }

  &__dot {
    width: 9px;
    height: 9px;

    border-radius: 50%;
    background-color: $c-light-gray;

    &--active {
      background-color: $c-green;
    }
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .gallery {
    padding-bottom: 110px;

    &__dots {
      display: flex;
    }
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .gallery {
    &__title {
      margin-bottom: 40px;
      text-align: center;
      font-size: 36px;
    }
  }
}
